# Dependencias
node_modules/

# Archivos de Vite
frontend/.vite/
dist/

# Variables de entorno
.env
.env.*

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/

# Dependencias del backend (si existen)
backend/node_modules/
frontend/node_modules/
